RESEND_API_KEY=re_NapWgp3c_M7SKj7vSDkF9AtQXDB3Hm1y9
RESEND_TO_EMAIL=cleargutadmin@gmail.com
RESEND_FROM_EMAIL=Clear Gut Orders <orders@cleargut.in>
RESEND_FALLBACK_FROM_EMAIL=Clear Gut Orders <onboarding@resend.dev>
